ion-progress-bar {
    opacity: 1;
    height: 1px;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.fab {
    width: 30px !important;
    height: 30px !important;
}