<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
        <ion-title>
        {{title}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/notification']" clear>
                <ion-icon name="notifications">
                </ion-icon>
                <ion-badge id="notifications-badge" color="danger" [hidden]="badgeNumber == 0">{{badgeNumber}}</ion-badge>
            </ion-button>
        </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="outer-content">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="새로고침 중"
            refreshingSpinner="crescent">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <div class="led-box">
            <div class="led-green"></div>
            <ion-label class="led"><b>정상</b></ion-label>&nbsp;
            <div class="led-yellow"></div>
            <ion-label class="led"><b>상태알림</b></ion-label>&nbsp;
            <div class="led-red"></div>
            <ion-label class="led"><b>통신에러</b></ion-label>&nbsp;
            <div class="led-purple"></div>
            <ion-label class="led"><b>범위이탈</b></ion-label>&nbsp;
        </div>
        <br />

        <ion-item [hidden]="anaylzers" lines="none">
            측정항목이 없습니다.
        </ion-item>

        <ion-grid fixed>
            <ion-row align-items-stretch>
                <ion-col no-padding size="12" size-md="6" *ngFor="let anaylzer of anaylzers; let i = index">
                    <ion-card class="gauge-card">
                        <ion-card-header>
                            <ion-item button lines="none" detail="false" routerLink="/detail/{{anaylzer.id}}">
                                <ion-card-title color="dark"><b>{{ anaylzer.name_tag }}</b></ion-card-title>
                                <ion-label item-end text-right style="font-weight: bolder; zoom: 1.2;" *ngIf="anaylzer.ph">{{ anaylzer.ph }} pH</ion-label> 
                                <ion-label item-end text-right style="font-weight: bolder; zoom: 1.2;">{{anaylzer.temp}}°C</ion-label>
                            </ion-item>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-row>
                                <ion-col text-left>
                                    <linear-gauge #linear_gauge
                                        units="°C"
                                        width="150"
                                        height="50"
                                        minor-ticks="4"
                                        stroke-ticks="true"
                                        color-plate="#fff"
                                        border-shadow-width="0"
                                        font-numbers-size="40"
                                        borders="false"
                                        bar-begin-circle="false"
                                        tick-side="left"
                                        number-side="left"
                                        needle-side="left"
                                        needle-type="line"
                                        ticks-width="50"
                                        ticks-width-minor="15"
                                        needle-width="10"
                                        color-needle="#888888"
                                        color-needle-end="#888888"
                                        bar-width="20"
                                        value="{{anaylzer.value}}"
                                    >
                                    </linear-gauge>
                                </ion-col>
                                <ion-col [hidden]="anaylzer.id != limits[i]?.sensor_id" text-right>
                                    <ng-container *ngIf="limits[i]?.bool_max && anaylzer.value > limits[i]?.value_max; else second">
                                        <ion-label color="tertiary"><p class="sensor-value">{{ anaylzer.value }} {{ anaylzer.unit }}</p></ion-label>
                                    </ng-container>
                                    <ng-template #second>
                                        <ng-container *ngIf="limits[i]?.bool_min && limits[i]?.value_min > anaylzer.value; else third">
                                            <ion-label color="tertiary"><p class="sensor-value">{{ anaylzer.value }} {{ anaylzer.unit }}</p></ion-label>
                                        </ng-container>
                                    </ng-template>
                                    <ng-template #third>
                                        <ion-label><p class="sensor-value">{{ anaylzer.value }} {{ anaylzer.unit }}</p></ion-label>
                                    </ng-template>
                                </ion-col>
                                <ion-col [hidden]="anaylzer.id == limits[i]?.sensor_id" text-right>
                                    <ion-label><p class="sensor-value">{{ anaylzer.value }} {{ anaylzer.unit }}</p></ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col text-left>
                                    <ng-container [ngSwitch]="anaylzer.state">
                                        <div *ngSwitchCase="00">
                                            <ion-label color="success"><b>{{MSG_OK}}</b></ion-label>
                                        </div>
                                        <div *ngSwitchCase="02">
                                            <ion-label color="danger"><b>{{MSG_NETWORK_ERROR}}</b></ion-label>
                                        </div>
                                        <div *ngSwitchCase="03">
                                            <ion-label color="warning"><b>{{MSG_CORRECTION}}</b></ion-label>
                                        </div>
                                        <div *ngSwitchCase="04">
                                            <ion-label color="warning"><b>{{MSG_REPLACE}}</b></ion-label>
                                        </div>
                                        <div *ngSwitchCase="06">
                                            <ion-label color="warning"><b>{{MSG_TROUBLE}}</b></ion-label>
                                        </div>
                                        <div *ngSwitchCase="07">
                                            <ion-label color="warning"><b>{{MSG_CLEAN}}</b></ion-label>
                                        </div>
                                        <div *ngSwitchDefault>
                                            <ion-label></ion-label>
                                        </div>
                                    </ng-container>
                                </ion-col>
                                <ion-col text-right>
                                    <ion-label>{{ anaylzer.timestamp }}</ion-label>                     
                                </ion-col>
                            </ion-row>        
                        </ion-card-content>
                    </ion-card>        
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>

</ion-content>
