<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>자료호출</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="presentActionSheet()">
            <ion-icon name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-card>
    <ion-card-content>
        <form role="form" [formGroup]="loggerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
      
              <ion-list>
                  <ion-item>
                      <ion-label stacked>수조명</ion-label>
                      <ion-select placeholder="이름선택" ok-text="선택" cancel-text="취소" formControlName="analyzer_id">
                        <ion-select-option [value]="analyzer.id" *ngFor="let analyzer of analyzers">{{ analyzer.name_tag }}</ion-select-option>
                      </ion-select>
                  </ion-item>
                  <ion-item>
                      <ion-label>시작일</ion-label>
                      <ion-datetime display-format="MMM DD, YYYY"
                          monthShortNames="1월, 2월, 3월, 4월, 5월, 6월, 7월, 8월, 9월, 10월, 11월, 12월"
                          formControlName="start"
                          placeholder="월/일/년" done-text="선택" cancel-text="취소"
                      ></ion-datetime>
                  </ion-item>
                  <ion-item>
                      <ion-label>끝일</ion-label>
                      <ion-datetime display-format="MMM DD, YYYY"
                          monthShortNames="1월, 2월, 3월, 4월, 5월, 6월, 7월, 8월, 9월, 10월, 11월, 12월"  
                          formControlName="end"
                          placeholder="월/일/년" done-text="선택" cancel-text="취소"
                      ></ion-datetime>
                  </ion-item>
              </ion-list>
              <ion-button expand="full" type="submit" [disabled]="!loggerForm.valid">확인</ion-button>
    
          </div>
        </form>
    </ion-card-content>
  </ion-card>

  <ngx-datatable
    [messages]="table_messages"
    class="bootstrap table-striped"
    style="height: 400px;"
    [columnMode]="'standard'"
    [rows]="rows"
    [rowClass]="getRowClass"
    [scrollbarV]="true"
    [scrollbarH]="true">
    <ngx-datatable-column name="날짜시간" prop="timestamp" width="150">
        <ng-template ngx-datatable-cell-template let-value="value">            
          {{value}}
        </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column width="65">
      <ng-template ngx-datatable-header-template>
        <span>용존산소</span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.value}}{{row.unit}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="수소이온" prop="ph" width="65">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}pH
        </ng-template>
      </ngx-datatable-column>
    <ngx-datatable-column name="온도" prop="temp" width="65">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{value}}°C
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="shareCsv()"><ion-icon name="share"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="shareEmail()"><ion-icon name="mail"></ion-icon></ion-fab-button>    
      </ion-fab-list>
      
    </ion-fab>

  <!--
  <p>{{loggerForm.value | json}}</p>
  -->
</ion-content>
