<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>자주하는 질문</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <ion-list *ngFor="let item of information; let i = index;" class="accordion-list" lines="full" detail="false" no-padding>
    <ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': item.open, 'section': !item.open}">
      <!--
      <ion-icon slot="start" name="arrow-forward" *ngIf="item.open"></ion-icon>
      <ion-icon slot="start" name="arrow-down" *ngIf="!item.open"></ion-icon>
      -->
      <ion-label>
        {{ item.name }}
      </ion-label>
    </ion-item>

    <div class="description-box" *ngIf="item.description && item.open">
      <!--
      {{ item.description }}
      <ion-img [src]='item.imageUrl' height='60' width='60'></ion-img>
      -->
    </div>
  </ion-list>
</ion-content>
