<ion-menu>
  <ion-header> 
    <ul class="list" lines="none">
      <ion-item [routerDirection]="'root'" [routerLink]="['/profile']" lines="none">
        <ion-row style="align-items:center;">
            <ion-col col-3>
              <ion-avatar>
                  <img src="https://www.gravatar.com/avatar?d=mm&s=140">
              </ion-avatar>
            </ion-col>
            <ion-col col-6>
              <ion-label>{{user}}</ion-label>            
            </ion-col>
        </ion-row>
      </ion-item>
    </ul>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-list-header>
          메인
      </ion-list-header>
      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="'/home'" detail>
          <ion-icon slot="start" [name]="'home'"></ion-icon>
          <ion-label>
            홈
          </ion-label>
        </ion-item>
        <ion-item [routerLink]="'/timeseries'" detail>
          <ion-icon slot="start" [name]="'clock'"></ion-icon>
          <ion-label>
            자료호출
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-list>
      <ion-list-header>
            서비스
      </ion-list-header>
      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="'/question'" detail>
          <ion-icon slot="start" [name]="'quote'"></ion-icon>
          <ion-label>자주하는 질문</ion-label>
        </ion-item>
        <ion-item button (click)="openUrl()" detail>
          <ion-icon slot="start" [name]="'call'"></ion-icon>
          <ion-label>고객문의</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
