@media screen and (orientation: portrait) {
    .sensor-chart {
      width: 100vw;
      height: 42vh;
    }
  }
  
@media screen and (orientation: landscape) {
  .sensor-chart {
    width: 100vw;
    height: 68vh;
  }
}


