ion-item {
    width: 100%;
    max-width: 100% !important;
}

ion-card {
    display: flex;
    max-width: 100%;
    width: 100%;
}

ion-label {
    font-weight: bold;
}

ion-text {
    font-weight: bold;
}
