
  <div class="form-group" *ngFor="let info of infos">

      <ion-list lines="full">
        <ion-list-header>
          <ion-label>기본정보</ion-label>
          <a (click)="analyzerPrompt(info.analyzer_id, info.name_tag)" class="text-info float-right">
            <ion-icon button name="create" style="position:relative; zoom:1.5;"></ion-icon>
          </a>
        </ion-list-header>
          <ion-item>
            <ion-label color="primary">수조명</ion-label>
            <ion-input [value]="info.name_tag" outline fixed readonly></ion-input>
          </ion-item>
      </ion-list>

      <form role="form" [formGroup]="conditionForm" (ngSubmit)="onConditionSubmit()">
        <ion-list lines="full">
            <ion-list-header>
              <ion-label>현황</ion-label>
              <a (click)="onEditCloseConditions()" class="text-info float-right">
                <ion-icon button name="{{isEditConditions ? 'close' : 'create'}}" style="position:relative; zoom:1.5;"></ion-icon>
              </a>
            </ion-list-header>
            <div *ngIf="!isEditConditions">
              <ion-item>
                <ion-label color="primary">입식일자</ion-label>
                <ion-text>{{condition?.datetime}}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label color="primary">수용미수</ion-label>
                <ion-text>{{condition?.fishes}} 마리</ion-text>
              </ion-item>
              <ion-item>
                <ion-label color="primary">평균크기</ion-label> 
                <ion-text>{{condition?.length}} cm</ion-text>
              </ion-item>
              <ion-item>
                <ion-label color="primary">중량</ion-label> 
                <ion-text>{{condition?.weight}} g</ion-text>
              </ion-item>
            </div>
            <div *ngIf="isEditConditions">
              <ion-item>
                <ion-label>입식일자</ion-label>
                <ion-datetime display-format="MMM DD, YYYY"
                    monthShortNames="1월, 2월, 3월, 4월, 5월, 6월, 7월, 8월, 9월, 10월, 11월, 12월"
                    formControlName="datetime"
                    [value]="condition?.datetime"
                    placeholder="월/일/년" done-text="선택" cancel-text="취소"
                ></ion-datetime>
              </ion-item>
              <ion-item>
                  <ion-label color="primary">수용미수</ion-label>
                  <ion-input type="number" [value]="condition?.fishes" formControlName="fishes"></ion-input>    
                  &nbsp;
                  <ion-text>마리</ion-text>
              </ion-item>
              <ion-item>
                  <ion-label color="primary">평균크기</ion-label>
                  <ion-input type="number" [value]="condition?.length" formControlName="length"></ion-input>    
                  &nbsp;
                  <ion-label>cm</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label color="primary">중량</ion-label>
                  <ion-input type="number" [value]="condition?.weight" formControlName="weight"></ion-input>    
                  &nbsp;
                  <ion-label>g</ion-label>
              </ion-item>
              <br />
              <ion-button expand="full" type="submit">등록</ion-button> 
            </div>
          </ion-list>
      </form>
      
      <form role="form" [formGroup]="infoForm" (ngSubmit)="onSubmit()">
      <ion-list lines="full">
          <ion-list-header>
            <ion-label>범위</ion-label>
            <a (click)="onEditCloseItems()" class="text-info float-right">
              <ion-icon button name="{{isEditItems ? 'close' : 'create'}}" style="position:relative; zoom:1.5;"></ion-icon>
            </a>
          </ion-list-header>
          <div *ngIf="!isEditItems">
            <ion-item>
              <ion-label color="primary">최대</ion-label>
              <ion-toggle [(ngModel)]="maxState" [ngModelOptions]="{standalone: true}" (ionChange)="maxToggleChanged();"></ion-toggle>
            </ion-item>
            <ion-item [disabled]="!maxState">
              <ion-range pin="true" min="{{info.range_min}}" max="{{info.range_max}}" [value]="limit?.value_max" snaps="true" color="secondary">
                <ion-label slot="start">{{info.range_min}}</ion-label>
                <ion-label slot="end">{{info.range_max}}</ion-label>
              </ion-range>
              <ion-badge color="secondary">{{limit?.value_max}}{{ info.unit }}</ion-badge>
            </ion-item>
            <ion-item>
              <ion-label color="primary">최소</ion-label>
              <ion-toggle [(ngModel)]="minState" [ngModelOptions]="{standalone: true}" (ionChange)="minToggleChanged();"></ion-toggle>
            </ion-item>
            <ion-item [disabled]="!minState">
              <ion-range pin="true" min="{{info.range_min}}" max="{{info.range_max}}" [value]="limit?.value_min" snaps="true" color="secondary">
                  <ion-label slot="start">{{info.range_min}}</ion-label>
                  <ion-label slot="end">{{info.range_max}}</ion-label>
                </ion-range>
                <ion-badge color="secondary">{{ limit?.value_min }} {{ info.unit }}</ion-badge>        
            </ion-item>
          </div>
          <div *ngIf="isEditItems">
            <ion-item>
              <ion-label color="primary">최대</ion-label>
              <ion-input text-right item-end type="number" [placeholder]="limit?.value_max" formControlName="value_max"></ion-input>
              &nbsp;
              <ion-label>{{ info.unit }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label color="primary">최소</ion-label>
              <ion-input text-right item-end type="number" [placeholder]="limit?.value_min" formControlName="value_min"></ion-input>
              &nbsp;
              <ion-label>{{ info.unit }}</ion-label>
            </ion-item>
            <br />
            <ion-button expand="full" type="submit">등록</ion-button> 
          </div>
        </ion-list>
    </form>

  </div>

